body {
    margin: 0;
    font-family: Arial;
}

.top {
    position: relative;
    height: 400px;      
    overflow: hidden;   /* prevents overlap */
}

.top-img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.top-text {
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: white;
}

.top-text h1 {
    font-size: 36px;    
    margin: 0;
}

.top-text button {
    margin-top: 20px;
    padding: 10px 25px;
    background: orange;
    border: none;
    color: white;
    font-size: 16px;
}


.section {
    display: flex;
    padding: 40px;
}

.left {
    width: 40%;
}

.left h2 {
    color: #0b4ea2;
    font-size: 36px;
}



.right img {
    width: 600px;
    height: 400px;
    margin-left: 150px;
}

.buttons button {
    margin: 10px;
}


.types {
    padding: 40px;
}

.types h2 {
    color: blue;
    height: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-self: flex-end;

}

.card {
    width: 120px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100px;
}


.bottom {
    text-align: center;
    padding: 30px;
}

.bottom h2 {
    color: blue;
}

.menu span {
    margin: 15px;
    font-size: 14px;
}

.line {
    margin:10px auto;
    width: 70px;
    height: 3px;
    background: orange;
}